<h1>Formulario de contacto</h1>

<section>
  <label>Nombre</label>
  <input
    name="nombre"
    type="text"
    [(ngModel)]="nombre"
    placeholder="Nombre y apellidos"
  />
</section>

<section>
  <label>Email</label>
  <input
    name="nombre"
    type="text"
    [(ngModel)]="email"
    placeholder="ejemplo@dominio.com"
  />
</section>

<section>
  <label>Mensaje</label>
  <input
    name="nombre"
    type="text"
    [(ngModel)]="mensaje"
    placeholder="Mensaje ejemplo..."
  />
</section>

<section>
  <label>2 + 3 = ?</label>
  <input
    name="nombre"
    type="text"
    [(ngModel)]="solucion"
    placeholder="Solucion"
  />
</section>

<section>
  <button type="submit">Enviar</button>
</section>
